<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--各个标签都是有序的，不可调换顺序！！！！-->
    <properties resource="mysql.properties"></properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
<!--懒加载、延迟加载：
          选择性加载数据（少执行几句SQL语句或者说“分步执行”即仅在请求特定数据时才执行对应的SQL语句）以节约服务器资源-->
<!--        开启懒加载-->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--&lt;!&ndash;        真正的懒加载：false&ndash;&gt;-->
<!--        <setting name="aggressiveLazyLoading" value="false"/>-->

<!--        在此处和对应Dao的XML文件中开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
<!--    choose which environment default-->
    <typeAliases>
<!--        <typeAlias type="com.neusoft.entity.User" alias = "User"></typeAlias>-->
        <package name="com.neusoft.entity"/>
    </typeAliases>

    <environments default="mysql">
        <environment id="mysql">
<!--                rollback or commit  -->
            <transactionManager type="JDBC"></transactionManager>
<!--            Several connections are prepared in the pool-->
            <dataSource type="POOLED">
<!--                Mustn't change the name of properties-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/test"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="123456"/>-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
<!--        <environment id="oracle">-->
<!--            <transactionManager type=""></transactionManager>-->
<!--            <dataSource type=""></dataSource>-->
<!--        </environment>-->
    </environments>
    <mappers>
<!--        JVM recognize usermapper.xml by this mapper sentence-->
<!--        <mapper resource="mapper\UserMapper.xml"></mapper>-->
<!--        <mapper resource="mapper\CardMapper.xml"></mapper>-->
<!--        必须保证接口名（例如UserMapper）和xml名（IUserDao.xml）相同，还必须在同一个包中-->
    <package name="com.neusoft.dao"/>
    </mappers>
    

</configuration>