<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace :copy the reference of the dao interface ,
make the dao interface connect with xml file-->
<mapper namespace="com.neusoft.dao.IUserDao">
<!--    id:the corresponding method -->
<!--    resultType can't be list, must be its generalist-->
    <select id="queryUserList" resultType="com.neusoft.entity.User">
        select * from user
    </select>
    <select id="getUserById" resultType="User" parameterType="int">
        select * from user where id = #{id}
    </select>
    <select id="getUserByAll" resultType="User" >
        select * from user where id = #{id} and name =#{name}
    </select>
    <select id="getUserByMap" resultType="User" parameterType="Map">
        select * from user where name =#{name}
    </select>
    <select id="getUserByObject" resultType="User" parameterType="User">
        select * from user where  name =#{name}
    </select>
</mapper>